/node_modules
/.next
/.env
/.env.local
/.env.development
/.env.development.local
/.env.test
/.env.test.local
/.env.production
/.env.production.local
/.DS_Store
/.idea
/.vscode
/.history
/.yarn-integrity
/.yarn
/.pnp.*
/.pnp
/.yarnrc.yml
/.yarnrc
/.yarnrc.json
/.yarnrc.local
/.yarnrc.production
/.yarnrc.development
/.yarnrc.test
/.yarnrc.production.local
/.yarnrc.development.local
/.yarnrc.test.local
/.yarnrc.production
/.yarnrc.development